# 1400만 ~ 2100만 번째 행 로드

## 라이브러리

In [1]:
import pandas as pd
from glob import glob
import os

## 파일 로드

In [2]:
file_name = glob('data/*.csv')
file_name = sorted(file_name, reverse=True)
file_name

['data\\2019-Oct.csv', 'data\\2019-Nov.csv']

In [3]:
df = pd.read_csv(file_name[0], header=[0], skiprows=range(1, 14000000), nrows=700) # header 는 컬럼 지정해주는 것(나중에 concat 할 때 컬럼명이 동일해야 하니까)
df.shape

(700, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    object
 1   event_type     700 non-null    object
 2   product_id     700 non-null    int64
 3   category_id    700 non-null    int64
 4   category_code  458 non-null    object
 5   brand          584 non-null    object
 6   price          700 non-null    float64
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 49.3+ KB

In [5]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-11 16:21:07 UTC,view,23500016,2053013561914950413,NaN,arua,8.55,558345122,77379f47-8abb-42e7-93e1-8483b5f46c63
1,2019-10-11 16:21:08 UTC,cart,1004839,2053013555631882655,electronics.smartphone,oppo,179.90,516445215,2e45509a-27bc-4ac0-9531-0e666766ef4e
2,2019-10-11 16:21:08 UTC,view,15100009,2053013557024391671,NaN,NaN,321.73,557112436,3997174d-f6ca-417c-908b-b963e680de96
3,2019-10-11 16:21:08 UTC,view,1002524,2053013555631882655,electronics.smartphone,apple,566.96,512471616,c4671900-2db4-437e-987c-0f06367d2c22
4,2019-10-11 16:21:08 UTC,view,14701139,2053013557133443581,furniture.living_room.cabinet,NaN,123.01,559218276,6e5a2c4e-8e39-4717-b44c-033c2918aabc
...,...,...,...,...,...,...,...,...,...
695,2019-10-11 16:21:31 UTC,view,12100456,2053013555816432043,kids.skates,kugoo,260.86,550460720,96163819-f2c0-4c23-a870-04f4921813f7
696,2019-10-11 16:21:31 UTC,view,28715756,2053013565069067197,apparel.shoes.keds,nexpero,75.42,534161718,9ce95e0e-f813-40a5-9297-eb1317a7db9b
697,2019-10-11 16:21:31 UTC,view,4804056,2053013554658804075,electronics.audio.headphone,apple,160.88,521241687,5712803a-6263-4efd-9055-21d254034950
698,2019-10-11 16:21:31 UTC,view,16700960,2053013559901684381,furniture.kitchen.chair,zeta,5.89,513453970,886b81a9-753c-48b9-9dc4-b095f571944e
699,2019-10-11 16:21:31 UTC,view,17300424,2053013553853497655,NaN,versace,95.21,551194762,a3a57481-65c2-481e-b397-b176c9fd24ad

## Downcast 로 용량 줄이기

In [6]:
# event_time 을 object 타입에서 datetime 타입으로 변경
df['event_time'] = pd.to_datetime(df['event_time'])
df.info()

# => 데이트 타임으로 바꿔도 용량은 변하지 않는 듯

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    object
 2   product_id     700 non-null    int64
 3   category_id    700 non-null    int64
 4   category_code  458 non-null    object
 5   brand          584 non-null    object
 6   price          700 non-null    float64
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(4)
memory usage: 49.3+ KB

In [7]:
df['event_type'].unique()

# 0,1, 2 로 해서 용량을 줄이는 방법도 있을 듯
# 하지만 일단은 category 타입으로 변경

array(['view', 'cart', 'purchase'], dtype=object)

In [8]:
# event_type 을 object 타입에서 category 타입으로 변경
df['event_type'] = df['event_type'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    int64
 3   category_id    700 non-null    int64
 4   category_code  458 non-null    object
 5   brand          584 non-null    object
 6   price          700 non-null    float64
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: category(1), datetime64[ns, UTC](1), float64(1), int64(3), object(3)
memory usage: 44.7+ KB

In [9]:
# product_id 에 음수가 있는지 확인
df['product_id'].max(), df['product_id'].min()

(55000004, 1002099)

In [10]:
# product_id 의 타입을 int64 에서 uint32 로 변경
df['product_id'] = pd.to_numeric(df['product_id'], downcast='unsigned')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    uint32
 3   category_id    700 non-null    int64
 4   category_code  458 non-null    object
 5   brand          584 non-null    object
 6   price          700 non-null    float64
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: category(1), datetime64[ns, UTC](1), float64(1), int64(2), object(3), uint32(1)
memory usage: 42.0+ KB

In [11]:
# category_id 에 음수가 있는지 확인
df['category_id'].max(), df['category_id'].min()

(2172371436436455782, 2053013552259662037)

In [12]:
# category_id 의 타입을 int 에서 uint 로 변경
df['category_id'] = pd.to_numeric(df['category_id'], downcast='unsigned')
df.info()

# 용량이 줄지는 않았음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    uint32
 3   category_id    700 non-null    uint64
 4   category_code  458 non-null    object
 5   brand          584 non-null    object
 6   price          700 non-null    float64
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: category(1), datetime64[ns, UTC](1), float64(1), int64(1), object(3), uint32(1), uint64(1)
memory usage: 42.0+ KB

In [13]:
# category_code 의 타입을 category 로 변경
df['category_code'] = df['category_code'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    uint32
 3   category_id    700 non-null    uint64
 4   category_code  458 non-null    category
 5   brand          584 non-null    object
 6   price          700 non-null    float64
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: category(2), datetime64[ns, UTC](1), float64(1), int64(1), object(2), uint32(1), uint64(1)
memory usage: 39.7+ KB

In [14]:
# brand 의 타입을 category 로 변경
df['brand'] = df['brand'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    uint32
 3   category_id    700 non-null    uint64
 4   category_code  458 non-null    category
 5   brand          584 non-null    category
 6   price          700 non-null    float64
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: category(3), datetime64[ns, UTC](1), float64(1), int64(1), object(1), uint32(1), uint64(1)
memory usage: 41.2+ KB

In [15]:
# price 의 타입을 float64 에서 float32 로 변경
df['price'] = pd.to_numeric(df['price'], downcast='float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    uint32
 3   category_id    700 non-null    uint64
 4   category_code  458 non-null    category
 5   brand          584 non-null    category
 6   price          700 non-null    float32
 7   user_id        700 non-null    int64
 8   user_session   700 non-null    object
dtypes: category(3), datetime64[ns, UTC](1), float32(1), int64(1), object(1), uint32(1), uint64(1)
memory usage: 38.5+ KB

In [16]:
# user_id 의 타입을 int64 에서 unit32 로 변경
df['user_id'] = pd.to_numeric(df['user_id'], downcast='unsigned')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    uint32
 3   category_id    700 non-null    uint64
 4   category_code  458 non-null    category
 5   brand          584 non-null    category
 6   price          700 non-null    float32
 7   user_id        700 non-null    uint32
 8   user_session   700 non-null    object
dtypes: category(3), datetime64[ns, UTC](1), float32(1), object(1), uint32(2), uint64(1)
memory usage: 35.7+ KB

In [17]:
df['user_session'] = df['user_session'].astype('category')
df.info()

# 오히려 용량 증가

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_time     700 non-null    datetime64[ns, UTC]
 1   event_type     700 non-null    category
 2   product_id     700 non-null    uint32
 3   category_id    700 non-null    uint64
 4   category_code  458 non-null    category
 5   brand          584 non-null    category
 6   price          700 non-null    float32
 7   user_id        700 non-null    uint32
 8   user_session   700 non-null    category
dtypes: category(4), datetime64[ns, UTC](1), float32(1), uint32(2), uint64(1)
memory usage: 52.7 KB

In [18]:
# 정리하자면 
# dtype={'event_type':'category', 'product_id':'uint32', 'category_id':'uint64', 'category_code':'category', 'brand':'category', 'price':'float32', 'user_id':'uint32'}

In [19]:
df = pd.read_csv(file_name[0], header=[0], skiprows=range(1, 14000000), nrows=7000001, dtype={'event_type':'category', 'product_id':'uint32', 'category_id':'uint64', 'category_code':'category', 'brand':'category', 'price':'float32', 'user_id':'uint32'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000001 entries, 0 to 7000000
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     category
 2   product_id     uint32
 3   category_id    uint64
 4   category_code  category
 5   brand          category
 6   price          float32
 7   user_id        uint32
 8   user_session   object
dtypes: category(3), float32(1), object(2), uint32(2), uint64(1)
memory usage: 267.1+ MB

In [20]:
# 파케로 저장
file_path_parquet = 'data/2019-Oct_03.parquet.gzip'
df.to_parquet(file_path_parquet, compression='gzip')

In [21]:
# 파일 사이즈 확인
psize = os.stat(file_path_parquet).st_size
format(psize, ',')

'165,193,647'

In [22]:
# 파일 사이즈 bytes 로 표기하기
def convert_bytes(num):
    """
    1024 보다 크면 숫자를 나누고 아니면 숫자와 단위를 표시하도록
    for문을 돌면서 값을 1024로 나누고 
    값이 1024 보다 작다면 단위와 함께 num 을 반횐
    """
    for file_size in ['bytes', 'KB', 'MB', 'GB', 'TB']:
        if num < 1024:
            return(f'{num:.2f} {file_size}') # f스트링으로 num의 format은 소수점 2째 자리까지
        num /= 1024


def file_size(file_path):
    """
    파일이 있다면 convert_bytes 함수를 통해 크기를 구함
    """
    if os.path.isfile(file_path):
        file_info = os.stat(file_path)
        return convert_bytes(file_info.st_size)


file_size(file_path_parquet)

'157.54 MB'