### 추정

In [1]:
pip install pingouin

Collecting pingouinNote: you may need to restart the kernel to use updated packages.

  Downloading pingouin-0.5.3-py3-none-any.whl (198 kB)
     -------------------------------------- 198.6/198.6 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19 in c:\users\mook\appdata\roaming\python\python39\site-packages (from pingouin) (1.24.1)
Requirement already satisfied: pandas>=1.0 in c:\users\mook\appdata\roaming\python\python39\site-packages (from pingouin) (1.5.3)
Collecting pandas-flavor>=0.2.0
  Downloading pandas_flavor-0.5.0-py3-none-any.whl (7.1 kB)
Requirement already satisfied: tabulate in c:\users\mook\anaconda3\lib\site-packages (from pingouin) (0.8.10)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\mook\anaconda3\lib\site-packages (from pingouin) (3.5.2)
Requirement already satisfied: scikit-learn in c:\users\mook\anaconda3\lib\site-packages (from pingouin) (1.0.2)
Requirement already satisfied: seaborn>=0.11 in c:\users\mook\anaconda3\lib\site-packages (from pingouin) (0.11.2)
Requirement already satisfied: statsmodels>=0.13 in c:\users\mook\anaconda3\lib\site-packages (from pingouin) (0.13.2)
Requirement already satisfied: scipy>=1.7 in c:\users\mook\anaconda3\lib\site-packages (from pingouin) (1.9.1)
Collecting outdated
  Downloading outdated-0.2.2-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: cycler>=0.10 in c:\users\mook\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\mook\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mook\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mook\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mook\appdata\roaming\python\python39\site-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\mook\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mook\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mook\appdata\roaming\python\python39\site-packages (from pandas>=1.0->pingouin) (2022.7.1)
Requirement already satisfied: xarray in c:\users\mook\anaconda3\lib\site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.1)
Collecting lazy-loader>=0.1
  Downloading lazy_loader-0.1-py3-none-any.whl (8.6 kB)
Requirement already satisfied: patsy>=0.5.2 in c:\users\mook\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (0.5.2)
Requirement already satisfied: setuptools>=44 in c:\users\mook\anaconda3\lib\site-packages (from outdated->pingouin) (63.4.1)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests in c:\users\mook\appdata\roaming\python\python39\site-packages (from outdated->pingouin) (2.28.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mook\anaconda3\lib\site-packages (from scikit-learn->pingouin) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\mook\anaconda3\lib\site-packages (from scikit-learn->pingouin) (1.1.0)
Requirement already satisfied: six in c:\users\mook\appdata\roaming\python\python39\site-packages (from patsy>=0.5.2->statsmodels>=0.13->pingouin) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mook\appdata\roaming\python\python39\site-packages (from requests->outdated->pingouin) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mook\appdata\roaming\python\python39\site-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mook\appdata\roaming\python\python39\site-packages (from requests->outdated->pingouin) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\mook\appdata\roaming\python\python39\site-packages (from requests->outdated->pingouin) (2.1.1)
Building wheels for collected packages: littleutils
  Building wheel for littleutils (setup.py): started
  Building wheel for littleutils (setup.py): finished with status 'done'
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7028 sha256=fdb922152492c65a0c63b6f2672d1e2e3c88478d6d195d8b06e24d8d2b5d72d4
  Stored in directory: c:\users\mook\appdata\local\pip\cache\wheels\04\bb\0d\2d02ec45f29c48d6192476bfb59c5a0e64b605e7212374dd15
Successfully built littleutils
Installing collected packages: littleutils, lazy-loader, outdated, pandas-flavor, pingouin
Successfully installed lazy-loader-0.1 littleutils-0.2.2 outdated-0.2.2 pandas-flavor-0.5.0 pingouin-0.5.3

In [5]:
import pandas as pd
df = pd.read_excel('data/car.xlsx')
df.describe()

,mileage,price,year,my_car_damage,other_car_damage
count,274.000000,274.000000,274.000000,2.740000e+02,2.740000e+02
mean,77483.222628,853.660584,2013.273723,2.319453e+06,1.807992e+06
std,43015.794453,332.613127,2.589406,3.080107e+06,4.655390e+06
min,2287.000000,190.000000,2006.000000,0.000000e+00,0.000000e+00
25%,47597.500000,620.000000,2011.000000,0.000000e+00,0.000000e+00
50%,71649.000000,805.000000,2014.000000,1.100410e+06,3.986190e+05
75%,103193.750000,1090.000000,2015.000000,3.002840e+06,1.640666e+06
max,310000.000000,1820.000000,2018.000000,1.536732e+07,5.510890e+07

In [4]:
import pingouin as pg
pg.ttest(df.price, 0, confidence=0.95) # 평균의 95% 신뢰구간 (양쪽 극단값을 배제해서 구간으로 나옴)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,42.483582,273,two-sided,2.486212e-122,"[814.1, 893.22]",2.566527,2.773e+118,1.0

In [ ]:
## 실습
# - 주행거리(mileage)의 평균의 95% 신뢰구간
# - 주행거리(mileage)의 평균의 99% 신뢰구간
# - model == 'Avante'인 경우의 가격의 평균의 95% 신뢰구간
# - model == 'K3'인 경우의 가격의 평균의 95% 신뢰구간

In [13]:
pg.ttest(df.mileage, 0, confidence=0.99)

,T,dof,alternative,p-val,CI99%,cohen-d,BF10,power
T-test,29.816386,273,two-sided,7.513310e-88,"[70742.35856441465, 84224.0866910598]",1.801274,1.384e+84,1.0

In [7]:
df_avante = df[df['model']=='Avante']
df_avante

     mileage   model  price  year  my_car_damage  other_car_damage
69     95195  Avante   1099  2016              0                 0
70     94871  Avante   1099  2016         317428                 0
71     99602  Avante   1099  2016              0                 0
72    108000  Avante    690  2016        1605543                 0
73    116659  Avante    820  2015              0                 0
..       ...     ...    ...   ...            ...               ...
269   235000  Avante    390  2007        1473730            507260
270   140000  Avante    430  2009       14399366           4592589
271    96757  Avante    390  2006         303080                 0
272   113853  Avante    390  2008         320780           1857718
273    91000  Avante    350  2006        3128450            401030

[205 rows x 6 columns]

In [14]:
df_k3 = df[df['model']=='K3']
df_k3

    mileage model  price  year  my_car_damage  other_car_damage
0     63608    K3    970  2017              0            564596
1     69336    K3   1130  2015        1839700           1140150
2     36000    K3   1380  2016         446520           2244910
3     19029    K3   1390  2017         889000           4196110
4     97090    K3    760  2015        2339137           2029570
..      ...   ...    ...   ...            ...               ...
64    24982    K3    760  2013        9487329            903770
65    75940    K3    930  2014        2999150            762080
66    62213    K3    760  2015        8025988          10006980
67    50800    K3   1000  2015        2636106           1075751
68    18620    K3   1290  2015        3525078            235320

[69 rows x 6 columns]

In [10]:
pg.ttest(df_avante['price'], 0, confidence=0.95) # Avante 평균의 95% 신뢰구간(+- 50만원)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,33.011035,204,two-sided,9.072793e-84,"[783.64, 883.19]",2.305591,1.149e+80,1.0

In [12]:
pg.ttest(df[df['model']=='K3']['price'], 0, confidence=0.95) # K3 평균의 95% 신뢰구간(+- 52만원) 표본이 적어 더 넉넉

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,34.919702,68,two-sided,3.721657e-45,"[861.59, 966.03]",4.203838,4.394e+41,1.0

In [15]:
# 오차 = (신뢰구간 상한 - 하한) / 2
(966.03 - 861.59) / 2

52.21999999999997

In [17]:
import scipy
import numpy as np

# scipy.stats.bootstrap(df['price'], np.median, confidence_level=0.99, n_resamples=99999)  # 99% 신뢰구간, 99999번 시뮬레이션

scipy.stats.bootstrap([df['price']], np.mean) # np.mean이 아니라 np.median을 쓰면 중간값의 신뢰구간을 구할 수 있다.

BootstrapResult(confidence_interval=ConfidenceInterval(low=814.3510841459506, high=893.7479490168221), standard_error=20.222906371988888)

In [ ]:
# 통계 이론을 이용해서 구한 평균의 95% 신뢰구간:       814.1, 893.22
# 부트스트랩(시뮬레이션)으로 구한 평균의 95% 신뢰구간: 814.3, 893.74

In [19]:
# 오차범위
(1.96 * 0.5 / np.sqrt(1000)) * 100 # 1000명 조사했을 때 오차 범위 %p

3.0990321069650117

In [ ]:
# # 질문
# 신제품 개발을 위해 여론조사를 하려고 하는데,
# 일단 대략적인 여론만 알면되기 때문에 오차범위가 +-10%p 정도만 되면 괜찮을 것 같다.
# 그러면 여론조사를 몇 명에게 하면 될까?

In [20]:
# 오차범위 역으로 계산하면 된다. (1.96 * 0.5 / np.sqrt(n)) *100 = 10
(1.96 * 0.5 / 0.1) ** 2

96.03999999999998

In [22]:
# 혹은 대입하는 방법
(1.96 * 0.5 / np.sqrt(96)) * 100

10.002083116364645

In [24]:
# 선거 조사
오차범위 = 3  # 퍼센트 포인트
인원수= ((1.96 * 0.5 / 오차범위) * 100) ** 2
인원수

1067.1111111111109

### 통계적 가설검정

In [29]:
pg.ttest(df['price'], 900, confidence=0.95) # 귀무가설(없애버릴꺼야): 모평균 = 900 일 것! => 위에서는 0을 넣은 이유는, 신뢰수준만 계산 시에는 아무 상관이 없다. 왜냐면 신뢰 수준은 통계량 -+ 오차 범위인데 둘 다 데이터에서 그냥 나오는 값이라 가설과는 상관이 없다.

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-2.306144,273,two-sided,0.021852,"[814.1, 893.22]",0.139319,0.917,0.632352

In [26]:
p = 0.021852
유의수준 = 0.05 # 100% - 신뢰수준 95% = 5%
p < 유의수준

True

In [28]:
hr = pd.read_excel('data/hr.xlsx')
hr.head()

    department job_level marriage  rating  overtime
0        Sales  Salaried   single       4        14
1  Engineering    Hourly   single       4         8
2  Engineering    Hourly   single       4         4
3  Engineering  Salaried  married       4         0
4  Engineering    Hourly  married       2        21

In [30]:
# overtime의 모평균 = 12 귀무가설 박살내기
pg.ttest(hr['overtime'], 12, confidence=0.95)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-11.537112,1469,two-sided,1.539578e-29,"[8.67, 9.64]",0.300911,1.211e+26,1.0

In [31]:
p = pg.ttest(hr['overtime'], 12, confidence=0.95)['p-val']
유의수준 = 0.05
p < 유의수준 # 유보하지 않고 => 박살낸다!

T-test    True
Name: p-val, dtype: bool

### 독립표본 t 검정

In [44]:
df.groupby(['model']).agg({'price':'mean'})

             price
model
Avante  833.414634
K3      913.811594

In [37]:
# 귀무가설: 80만원 정도면 Avante와 K3의 가격 평균이 같다(차이 없음)
# 기각하면 -> 차이가 있기는 있다.
Avante = df[df.model == 'Avante'].price
K3 =  df[df.model == 'K3'].price
pg.ttest(Avante, K3)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-2.21101,196.691919,two-sided,0.028187,"[-152.11, -8.69]",0.242614,1.482,0.4119

In [38]:
0.028187 < 0.05 # p<유의수준 -> 귀무가설 기각 -> 평균에는 차이가 있다.

True

In [ ]:
# 평균 차이의 신뢰구간 -152.11 ~ -8.69
# 모집단에서는 Avante 평균이 많으면 152만원, 못해도 8만원은 싸다
# 하여간 Avante가 K3보다 싸다

In [45]:
# 이 문제에서 신뢰구간으로 유의성을 판별할 때 신뢰구간이 0을 포함하면 귀무가설이 통계적으로 유의한 건가요?
x1 = np.random.random(100)
x2 = np.random.random(100)
pg.ttest(x1, x2)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,1.731712,198,two-sided,0.084882,"[-0.01, 0.15]",0.244901,0.623,0.406578

In [ ]:
# 신뢰구간 0을 포함하니
# => p > 0.05
# => 귀무가설 기각 x
# => 통계적으로 유의한 차이가 없다

In [60]:
# # 실습
# hr.xlsx에서 marriage 변수는 미혼(single)과 기혼(married)을 나타냅니다.
# 미혼직원과 기혼사이에 overtime을 독립표본 t 검정으로 비교해 보세요.
single = hr[hr['marriage']=='single']['overtime']
married = hr[hr['marriage']=='married']['overtime']
pg.ttest(single, married)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,0.498229,1465.031434,two-sided,0.618398,"[-0.72, 1.21]",0.025978,0.066,0.078781

In [ ]:
p = 0.618398
p > 0.5 # 귀무가설 기각 못함 -> 결론 유보
# -0.72  -0.6, -0.5, -0.4 .... 0 ..... 1.21
# 같을 수도 있지만 다른 가능성들도 많으므로 유보

In [62]:
hi = pd.read_excel('data/hiring.xlsx')
hi.head()

    gpa  test  major hire
0  3.27    45      1    F
1  3.04    43      1    P
2  4.13    70      1    P
3  4.31    50      1    P
4  3.81    46      1    F

In [63]:
전공자 = hi[hi['major']==1]['test']
비전공자 = hi[hi['major']==0]['test']
pg.ttest(전공자, 비전공자)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-0.507503,998,two-sided,0.611914,"[-3.24, 1.91]",0.032097,0.08,0.079932